ul.topic-list,
ul.material-list {
  list-style: none;
}


/**
 * page layout
 */

.header, .signin, .src-and-dst, .copy, .log {
  margin-bottom: 1rem;
}

.src-and-dst {
  /*width: 100%;*/
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 1rem;
}

[data-js-side] {
  flex: 1;
  min-width: 25rem;
  padding: 0.5rem;
  background-color: lightgrey;
}

[data-js-side="destination"] .add {
  color: green;
}
[data-js-side="destination"] .update {
  color: yellow;
}
[data-js-side="destination"] .remove {
  text-decoration: line-through;
}

.draft {
  opacity: 0.5;
}

.log {
  border: 1px solid black;
  padding: 0.5rem;
  overflow-y: auto;
  max-height: 12.5rem;
}

.warning {
  background-color:rgba(255, 0, 0, 0.5);
}

.copy-settings {
  display: flex;
  flex-direction: column;
}

.topic-toggle {
  border: none;
  background: transparent;
}

.material-icon {
  font-size: 1rem;
  font-family: 'Material Symbols Outlined';
  font-style: normal;
  font-weight: normal;
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 20;
}

