ul.topic-list,
ul.material-list {
  list-style: none;
}


/**
 * page layout
 */
.warning {
  background-color:rgba(255, 0, 0, 0.5);
}

.login {
  width: 100%;
}

.src-and-dst {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

#src-container {
  flex: 1;
  min-width: 400px;
  padding: 10px;
  background-color: lightgrey;
}

#dst-container {
  flex: 1;
  min-width: 400px;
  padding: 10px;
  background-color: lightgrey;
}

#dst-container .add {
  color: green;
}
#dst-container .update {
  color: yellow;
}
#dst-container .remove {
  text-decoration: line-through;
}

.log {
  width: calc(100% - 20px);
  border: 1px solid black;
  padding: 10px;
  overflow-y: auto;
  height: 200px;
}

.draft {
  opacity: 0.5;
}