ul#topic-list,
ul.material-list {
  list-style: none;
}


/**
 * page layout
 */
.login {
  width: 100%;
}

.src-and-dst {
  width: 100%;
  overflow: hidden; /* includes floats in height */
}

#src-container {
  float: left;
  width: calc(50% - 30px);
  margin-right: 10px;
  padding: 10px;
  background-color: lightgrey;
}

#dst-container {
  float:right;
  width: calc(50% - 30px);
  margin-left:10px;
  padding: 10px;
  background-color: lightgrey;
}

.log {
  width:c alc(100% -20px);
  border: 1px solid black;
  padding: 10px;
  overflow-y: auto;
  height: 200px;
}