ul.topic-list,
ul.material-list {
  list-style: none;
}


/**
 * page layout
 */

.header, .signin, .src-and-dst, .copy, .log {
  margin-bottom: 1rem;
}

.src-and-dst {
  /*width: 100%;*/
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 1rem;
}

#src-container {
  flex: 1;
  min-width: 25rem;
  padding: 0.5rem;
  background-color: lightgrey;
}

#dst-container {
  flex: 1;
  min-width: 25rem;
  padding: 0.5rem;
  background-color: lightgrey;
}

#dst-container .add {
  color: green;
}
#dst-container .update {
  color: yellow;
}
#dst-container .remove {
  text-decoration: line-through;
}

.draft {
  opacity: 0.5;
}

.log {
  border: 1px solid black;
  padding: 0.5rem;
  overflow-y: auto;
  max-height: 12.5rem;
}

.warning {
  background-color:rgba(255, 0, 0, 0.5);
}